@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
}

a,
h1,
h2,
span,
p {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    height: auto;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

:root[data-theme="default"] {
    --backgroundColor1: #D8EDEE;
    --backgroundColor2: #BAD9D4;
    --backgroundColor3: #175094;
    --textColor1: #182852;
    --textColor2: #0D201E;
    --textColor3: #0033E2;
    --textColor4: #DDE4E4;
}

:root[data-theme="dark-mode"] {
    --backgroundColor1: #175094;
    --backgroundColor2: #798C98;
    --backgroundColor3: #D8EDEE;
    --textColor1: #D8EDEE;
    --textColor2: #CCDFE0;
    --textColor3: #92A0A1;
    --textColor4: #020303;
}

body {
    background-color: var(--backgroundColor1);
    font-family: 'Open Sans', 'Poppins', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
}

#btn-contact {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 6px;
    padding: 10px 20px;
}

#btn-contact.open {
    background-color: var(--backgroundColor2);
}

#btn-contact>p {
    color: var(--textColor4);
    font-family: 'Poppins';
    font-size: 20px;
}

#btn-contact.open>p {
    color: var(--textColor1);
}

#btn-contact #icon-dropdown {
    margin-top: 8px;
}

#btn-contact.open #icon-dropdown path {
    fill: var(--textColor1);
    stroke: var(--textColor1);
}

#btn-contact.open #icon-dropdown {
    margin-top: 0;
    transform: rotate(180deg);
}

#btn-flag {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
}

#btn-flag p {
    color: var(--textColor4);
    font-family: 'Poppins';
    font-size: 20px;
}

#btn-theme {
    cursor: pointer;
}

#btn-principal-menu {
    cursor: pointer;
    z-index: 2;
}

#btn-principal-menu.open {
    transform: rotate(90deg);
}

#contacts {
    align-items: center;
    background-color: var(--backgroundColor2);
    border-bottom: 1px solid var(--textColor1);
    display: none;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 15px 20px;
    position: absolute;
    width: 100%;
}

#contacts.open {
    display: flex;
}

#header-principal {
    align-items: center;
    background-color: var(--backgroundColor3);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-secundary {
    border-bottom: var(--backgroundColor3) solid 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 15px 0;
}

#icon-dropdown path {
    fill: var(--textColor4);
    stroke: var(--textColor4);
}

#icon-menu path {
    stroke: var(--textColor4);
}

#btn-theme,
#icon-theme {
    align-items: center;
    display: flex;
}

#icon-theme path {
    fill: var(--textColor4);
}

.item-contact {
    align-items: center;
    background-color: var(--backgroundColor2);
    color: var(--textColor1);
    cursor: pointer;
    display: flex;
    gap: 5px;
    margin: auto;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2.5px;
}

.item-contact svg:first-child path {
    fill: var(--textColor1);
}

.item-contact svg:nth-child(2) path {
    stroke: var(--textColor1);
}

#links-principal-menu {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding-left: 20px;
}

#links-principal-menu * {
    color: var(--textColor4);
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
}

.header-functions {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-right: 20px;
}

@media (max-width: 939.99px) {
    #links-principal-menu {
        background-color: var(--backgroundColor3);
        border-bottom: 2.5px solid var(--backgroundColor1);
        border-bottom-right-radius: 10px;
        border-right: 2.5px solid var(--backgroundColor1);
        display: none;
        flex-direction: column;
        padding: 25px;
        padding-top: 55px;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    #links-principal-menu.open {
        display: flex;
    }
}

@media (min-width: 940px) {
    #btn-principal-menu {
        display: none;
    }
}