#Work,
.experience-item {
    padding-top: 1.25rem;
}

.experience-item:first-child{
    padding-top: 0;
}

.experience-item {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.experience-item h1 {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: bold;
}