.techs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tech-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tech-item h1 {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 15px;
}

.tech-item svg {
    border: 1px solid var(--textColor1);
    border-radius: 10px;
}

.habilitys-list {
    background-color: var(--backgroundColor2);
    border: 2px solid var(--textColor1);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

.hability-item {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
}