@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
}

a,
h1,
h2,
span,
p {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    height: auto;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

:root[data-theme="default"] {
    --backgroundColor1: rgb(216, 237, 238);
    --backgroundColor2: rgb(180, 204, 250);
    --backgroundColor3: rgb(23, 80, 148);
    --textColor1: rgb(24, 40, 82);
    --textColor2: rgb(221, 228, 228);
}

:root[data-theme="dark-mode"] {
    --backgroundColor1: rgb(82, 82, 82);
    --backgroundColor2: rgb(63, 98, 145);
    --backgroundColor3: rgb(49, 49, 49);
    --textColor1: rgb(250, 249, 246);
    --textColor2: rgb(216, 237, 238);
}

body {
    background-color: var(--backgroundColor1);
    font-family: 'Open Sans', 'Poppins', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
}

#btn-contact {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 6px;
    padding: 10px 20px;
}

#btn-contact.open {
    background-color: var(--backgroundColor2);
}

#btn-contact>p {
    color: var(--textColor2);
    font-family: 'Poppins';
    font-size: 15px;
}

#btn-contact.open>p {
    color: var(--textColor1);
}

#btn-contact #icon-dropdown {
    margin-top: 8px;
}

#btn-contact.open #icon-dropdown path {
    fill: var(--textColor1);
    stroke: var(--textColor1);
}

#btn-contact.open #icon-dropdown {
    margin-top: 0;
    transform: rotate(180deg);
}

#btn-flag {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
}

#btn-flag p {
    color: var(--textColor2);
    font-family: 'Poppins';
    font-size: 15px;
}

#btn-theme {
    cursor: pointer;
}

#btn-principal-menu {
    cursor: pointer;
    z-index: 2;
}

#btn-principal-menu.open {
    transform: rotate(90deg);
}

#contacts {
    align-items: center;
    background-color: var(--backgroundColor2);
    border-bottom: 1px solid var(--textColor1);
    display: none;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 15px 20px;
    position: absolute;
    width: 100%;
}

#contacts.open {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 50px 20px 50px;
}

.content>h1 {
    color: var(--textColor1);
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#header-principal {
    align-items: center;
    background-color: var(--backgroundColor3);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-secundary {
    border-bottom: var(--backgroundColor3) solid 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 15px 0;
}

#icon-dropdown path {
    fill: var(--textColor2);
    stroke: var(--textColor2);
}

#icon-menu path {
    stroke: var(--textColor2);
}

#btn-theme,
#icon-theme {
    align-items: center;
    display: flex;
}

#icon-theme path {
    fill: var(--textColor2);
}

.item-contact {
    align-items: center;
    background-color: var(--backgroundColor2);
    color: var(--textColor1);
    cursor: pointer;
    display: flex;
    gap: 5px;
    margin: auto;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2.5px;
}

.item-contact svg:first-child path {
    fill: var(--textColor1);
}

.item-contact svg:nth-child(2) path {
    stroke: var(--textColor1);
}

#links-principal-menu {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding-left: 20px;
}

#links-principal-menu * {
    color: var(--textColor2);
    font-family: 'Poppins';
    font-size: 15px;
    text-decoration: none;
}

.header-functions {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-right: 20px;
}

.navbar-secundary {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 0 25px;
    width: 100%;
}

.navbar-secundary>a {
    color: var(--textColor1);
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.paragraph {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: regular;
    text-align: justify;
    text-indent: 50px;
}

@media (max-width: 939.99px) {
    #links-principal-menu {
        background-color: var(--backgroundColor3);
        border-bottom: 2.5px solid var(--backgroundColor1);
        border-bottom-right-radius: 10px;
        border-right: 2.5px solid var(--backgroundColor1);
        display: none;
        flex-direction: column;
        padding: 25px;
        padding-top: 55px;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    #links-principal-menu.open {
        display: flex;
    }
}

@media (min-width: 940px) {
    #btn-principal-menu {
        display: none;
    }
}