.content-project {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    max-height: 500px;
    overflow-y: auto;
    padding: 0 15px 20px 15px;
}

.data-project {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    max-height: 500px;
    overflow-y: auto;
    padding: 0 15px 20px 15px;
}

.data-techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.item-data-project {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-data-project h1 {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.item-data-project li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-data-project li {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 20px;
    list-style-type: disc;
}

.item-data-project p {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
}



.menu-project {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.menu-project>a {
    background-color: var(--backgroundColor1);
    border: 2px solid var(--textColor1);
    height: 40px;
    display: flex;
    gap: 5px;
    padding: 5px;
}

.menu-project>a:link {
    text-decoration: none;
}

.menu-project h1 {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 20px;
}

.menu-project path {
    fill: var(--textColor1);
}

.menu-project #icon-tech path {
    fill: none;
    stroke: var(--textColor1);
}

.image-preview {
    flex: 1;
    max-width: 100%;
    max-height: 400px;
}

.list-projects {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 50px 20px 50px;
}

.link-project {
    background-color: var(--backgroundColor1);
    border: 2px solid var(--textColor1);
    border-radius: 5px;
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    margin: 0 auto;
    padding: 5px 10px;
    width: max-content;
}

.navbar-secundary {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 0 25px;
    width: 100%;
}

.navbar-secundary>a {
    color: var(--textColor1);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.preview-project h1 {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.preview-project {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px 0;
    gap: 5px;
    justify-content: space-between;
}

.project-item {
    background-color: var(--backgroundColor2);
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    gap: 10px 0;
    padding-bottom: 10px;
}

.title-item {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.tech-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tech-item svg {
    border: 1px solid var(--textColor1);
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.tech-item h1 {
    color: var(--textColor1);
    font-family: 'Open Sans';
    font-size: 20px;
}

.title-projects {
    color: var(--textColor1);
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.video-preview {
    max-width: 100%;
}

@media (max-width: 800px) {
    .content-project {
        min-width: 500px;
    }

    .data-project {
        min-width: 500px;
    }

    .preview-project {
        min-width: 500px;
    }

    .project-item {
        flex-direction: column;
    }
}